/* ----- Floats ----- */
.fright {
    float: right !important;
}
.fleft {
    float: left !important;
}
/* ---------- */

.mtauto {
    margin-top: auto !important;
}
.mbauto {
    margin-bottom: auto !important;
}
.mlauto {
    margin-left: auto !important;
}
.mrauto {
    margin-right: auto !important;
}
.mhauto {
    margin: 0 auto !important;
}
.mvauto {
    margin: auto 0 !important;
}
.mauto {
    margin: auto !important;
}

/* ---------- */
