$default-box-shadow : 
    0 4px 5px 0 rgba($gray-color,.14), 
    0 1px 10px 0 rgba($gray-color,.12), 
    0 2px 4px -1px rgba($gray-color,.2) !default;
$default-small-box-shadow : 
    0 2px 2px 0 rgba($gray-color,.14), 
    0 3px 1px -2px rgba($gray-color,.12), 
    0 1px 5px 0 rgba($gray-color,.2) !default;
$default-large-box-shadow : 
    0 16px 24px 2px rgba($gray-color,.14), 
    0 6px 30px 5px rgba($gray-color,.12), 
    0 8px 10px -7px rgba($gray-color,.2) !default;