/*
    -------------- Breakpoints --------------
*/

$breakpoints-small       : 600px  !default;
$breakpoints-medium      : 1056px !default;
$breakpoints-large       : 1200px !default;

@mixin phone {
    @media (max-width: #{ $breakpoints-small }) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{ $breakpoints-small }) and (max-width: #{ $breakpoints-medium }) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{ $breakpoints-medium }) and (max-width: #{ $breakpoints-large }) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{ $breakpoints-large })  {
        @content;
    }
}

@mixin phoneUp {
    @media (max-width: #{ $breakpoints-small }) {
        @content;
    }
}

@mixin tabletUp {
    @media (min-width: #{ $breakpoints-small }) {
        @content;
    }
}

@mixin laptopUp {
    @media (min-width: #{ $breakpoints-medium }) {
        @content;
    }
}
  
@mixin desktopUp {
    @media (min-width: #{ $breakpoints-large }) {
        @content;
    }
}
