/*
    -------------- Default Colors --------------
*/

$primary-color: #5affc9 !default;

$secondary-color: #355576 !default;

$shadow-color: #355576 !default;

$danger-color: #e53549 !default;

$warning-color: #ffcf5c !default;

$success-color: #00c48c !default;

$info-color: #03a9f4 !default;

$light-color: #f4f6f9;

$gray-color: #6c757d;

$discord-color: #5165f6;
