.padding{
    padding                 : $default-padding !important;
}
.padding-sml{
    padding                 : $default-small-padding !important;
}
.padding-lrg{
    padding                 : $default-large-padding !important;
}