:root {
  --primary-color: #2f455c;
  --secondary-color: #5affc9;
  --shadow-color: #355576;
  --danger-color: #e53549;
  --warning-color: #ffcf5c;
  --success-color: #00c48c;
  --info-color: #f4f6f9;
  --light-color: #f4f6f9;
  --gray-color: #6c757d;
  --discord-color: #5165f6;
  --white: #fff;
}

@layer base {
  html {
    @apply select-none;
  }
  body {
    @apply bg-primary m-0 antialiased font-primary text-16 font-bold;
  }
  a {
    @apply no-underline hover:text-secondary visited:text-secondary;
  }
  li {
    @apply list-none p-0;
  }
  ol,
  ul {
    @apply list-none m-0 p-0;
  }
  @font-face {
    font-family: "IBM Plex Sans", sans-serif;
    src: url("/assets/fonts/ibm-plex-sans-v9-latin-regular.woff") format("woff"),
      url("/assets/fonts/ibm-plex-sans-v9-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "IBM Plex Sans", sans-serif;
    src: url("/assets/fonts/ibm-plex-sans-v9-latin-500.woff") format("woff"),
      url("/assets/fonts/ibm-plex-sans-v9-latin-500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "IBM Plex Sans", sans-serif;
    src: url("/assets/fonts/ibm-plex-sans-v9-latin-600.woff") format("woff"),
      url("/assets/fonts/ibm-plex-sans-v9-latin-600.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }
}

a:link {
  color: #5affc9;
}
